<md-toolbar color="primary">
  <a md-icon-button class="navbar-logo"><md-icon>golf_course</md-icon></a>
  <span>RegEx Golf</span>
  <span class="fill-navbar"></span>
  <span *ngIf="af.auth | async">
    <a md-icon-button md-tooltip="Help"><md-icon class="navbar-icon">help</md-icon></a>
    <a md-icon-button md-tooltip="Logout" (click)="signOut()"><md-icon class="navbar-icon">exit_to_app</md-icon></a>
  </span>
  <span *ngIf="!(af.auth | async)">
    <button md-raised-button md-tooltip="Sign up!" color="accent" (click)="openSignupDialog()"><md-icon class="navbar-icon">person_add</md-icon>SIGN UP</button>
    <button md-raised-button md-tooltip="Sign in" color="primary" (click)="openLoginDialog()"><md-icon class="navbar-icon">person</md-icon>SIGN IN</button>
  </span>
</md-toolbar>
<div style="text-align: center">
  <h1>
    Welcome to RegEx Golf!
  </h1>
  <h2>
    Hole {{puzzleNumber + 1}}: {{(puzzleInfo | async)?.name}}
  </h2>
  <p>
    {{(puzzleInfo | async)?.description}}
  </p>
</div>
<div class="list-container">
  <md-list dense>
    <h3 md-subheader>Match These</h3>
    <md-list-item [ngClass]="{'matched-match-word': word.matched}" class="list-word" *ngFor="let word of localMatchWords">
      <md-icon *ngIf="word.matched">check</md-icon>{{word.word}}
    </md-list-item>
  </md-list>
  <md-list dense>
    <h3 md-subheader>Don't Match These</h3>
    <md-list-item [ngClass]="{'matched-miss-word': word.matched}" class="list-word" *ngFor="let word of localMissWords">
      <md-icon *ngIf="word.matched">warning</md-icon>{{word.word}}
    </md-list-item>
  </md-list>
</div>
<div class="regex-input-container">
  <input type="text" [ngClass]="{'bad-regex-input': badRegex, 'good-regex-input': !badRegex, 'regex-input': true}"
   placeholder="Enter your RegEx..." [(ngModel)]="regexStringModel" (keyup)="checkWords()" autocapitalize="none" autocorrect="none">
</div>

<router-outlet></router-outlet>
